In [59]:
import numpy as np   
import pandas as pd    
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt   
import matplotlib.style
import warnings
warnings.filterwarnings('ignore')

# Numerical libraries
import numpy as np   

# Import Linear Regression machine learning library
from sklearn.linear_model import LinearRegression

# to handle data in form of rows and columns 
import pandas as pd    

# importing ploting libraries
import matplotlib.pyplot as plt   
import matplotlib.style
plt.style.use('classic')

#importing seaborn for statistical plots
import seaborn as sns

In [60]:
# reading the CSV file into pandas dataframe
df = pd.read_csv("ThreeCars.csv")

In [61]:
df.head()

   Unnamed: 0  Price  Age  Mileage  Porsche  Jaguar  BMW
0           1   69.4    3     21.5        1       0    0
1           2   56.9    3     43.0        1       0    0
2           3   49.9    2     19.9        1       0    0
3           4   47.4    4     36.0        1       0    0
4           5   42.9    4     44.0        1       0    0

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  90 non-null     int64
 1   Price       90 non-null     float64
 2   Age         90 non-null     int64
 3   Mileage     90 non-null     float64
 4   Porsche     90 non-null     int64
 5   Jaguar      90 non-null     int64
 6   BMW         90 non-null     int64
dtypes: float64(2), int64(5)
memory usage: 5.0 KB

In [63]:
#df.drop('Unnamed: 0', axis=1, inplace=True)

In [64]:
df

    Unnamed: 0  Price  Age  Mileage  Porsche  Jaguar  BMW
0            1   69.4    3     21.5        1       0    0
1            2   56.9    3     43.0        1       0    0
2            3   49.9    2     19.9        1       0    0
3            4   47.4    4     36.0        1       0    0
4            5   42.9    4     44.0        1       0    0
..         ...    ...  ...      ...      ...     ...  ...
85          86   26.9    6     68.1        0       0    1
86          87   30.0    6     46.8        0       0    1
87          88   36.0    5     46.8        0       0    1
88          89   38.0    4     36.1        0       0    1
89          90   13.8    7     59.0        0       0    1

[90 rows x 7 columns]

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
# Copy all the predictor variables into X dataframe. Since 'mpg' is dependent variable drop it
X = df.drop('Price', axis=1)

# Copy the 'mpg' column alone into the y dataframe. This is the dependent variable
y = df[['Price']]

In [67]:
# Split X and y into training and test set in 75:25 ratio

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30 , random_state=1)

In [68]:
# invoke the LinearRegression function and find the bestfit model on training data

regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

LinearRegression()

In [69]:
# Let us explore the coefficients for each of the independent attributes

for idx, col_name in enumerate(X_train.columns):
    print("The coefficient for {} is {}".format(col_name, regression_model.coef_[0][idx]))

The coefficient for Unnamed: 0 is 0.021688359577711633
The coefficient for Age is -0.658802344314998
The coefficient for Mileage is -0.45916447453449555
The coefficient for Porsche is 11.704360203334867
The coefficient for Jaguar is -9.842229150843341
The coefficient for BMW is -1.8621310524914663

In [70]:

regression_model.score(X_train, y_train)

0.8287846895471307

In [71]:
# Model score - R2 or coeff of determinant
# R^2=1–RSS / TSS =  RegErr / TSS

regression_model.score(X_test, y_test)

0.6449822084472709

In [72]:
data_train = pd.concat([X_train, y_train], axis=1)
data_train.head()

    Unnamed: 0  Age  Mileage  Porsche  Jaguar  BMW  Price
66          67    6     60.2        0       0    1   23.9
62          63   12    100.7        0       0    1   12.0
54          55    5     30.3        0       1    0   50.0
35          36    3     41.0        0       1    0   39.9
41          42    4     43.4        0       1    0   22.9

In [75]:
import statsmodels.formula.api as smf
lm1 = smf.ols(formula= 'Price ~ Unnamed: 0+Age+Mileage+Porsche+Jaguar+BMW', data = df).fit()
lm1.params

Intercept    45.748646
Age          -0.763526
Mileage      -0.462333
Porsche      25.644514
Jaguar        6.599498
BMW          13.504634
dtype: float64

In [76]:
print(lm1.summary())  #Inferential statistics

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.781
Model:                            OLS   Adj. R-squared:                  0.770
Method:                 Least Squares   F-statistic:                     75.59
Date:                Sun, 09 May 2021   Prob (F-statistic):           3.46e-27
Time:                        11:15:47   Log-Likelihood:                -317.27
No. Observations:                  90   AIC:                             644.5
Df Residuals:                      85   BIC:                             657.0
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     45.7486      1.432     31.955      0.000      42.902      48.595
Age           -0.7635      0.361     -2.112      0.038      -1.482      -0.045
Mileage       -0.4623      0.064     -7.271      0.000      -0.589      -0.336
Porsche       25.6445      1.390     18.446      0.000      22.880      28.409
Jaguar         6.5995      1.296      5.093      0.000       4.023       9.176
BMW           13.5046      1.652      8.174      0.000      10.220      16.790
==============================================================================
Omnibus:                        0.153   Durbin-Watson:                   1.791
Prob(Omnibus):                  0.926   Jarque-Bera (JB):                0.174
Skew:                           0.092   Prob(JB):                        0.917
Kurtosis:                       2.889   Cond. No.                     3.37e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.82e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.