In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt   
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

# About Data

In [2]:
df = pd.read_csv("dataset_group.csv")

## Info

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  object
 1   Order_id  20641 non-null  int64
 2   Product   20641 non-null  object
dtypes: int64(1), object(2)
memory usage: 483.9+ KB

## Data sample

In [4]:
df.head(10)

         Date  Order_id        Product
0  01-01-2018         1         yogurt
1  01-01-2018         1           pork
2  01-01-2018         1  sandwich bags
3  01-01-2018         1     lunch meat
4  01-01-2018         1   all- purpose
5  01-01-2018         1          flour
6  01-01-2018         1           soda
7  01-01-2018         1         butter
8  01-01-2018         1           beef
9  01-01-2018         1  aluminum foil

In [5]:
df.tail(10)

             Date  Order_id            Product
20631  25-02-2020      1138       all- purpose
20632  25-02-2020      1138      sandwich bags
20633  25-02-2020      1138       toilet paper
20634  25-02-2020      1138               soda
20635  25-02-2020      1138               soda
20636  25-02-2020      1138               soda
20637  25-02-2020      1138       paper towels
20638  26-02-2020      1139               soda
20639  26-02-2020      1139  laundry detergent
20640  26-02-2020      1139            shampoo

## Shape

In [6]:
df.shape

(20641, 3)

## Summary

In [7]:
df.describe()

           Order_id
count  20641.000000
mean     575.986289
std      328.557078
min        1.000000
25%      292.000000
50%      581.000000
75%      862.000000
max     1139.000000

In [8]:
df.isnull().sum()

Date        0
Order_id    0
Product     0
dtype: int64

In [11]:
df.duplicated().sum()

4730