In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from statsmodels.formula.api import ols # for n-way- anova
from statsmodels.stats.anova import _get_covariance, anova_lm

df = pd.read_csv('./FastFood.csv')

In [4]:
df.head()

   FastFoodNames   Sales
0              1  2600.0
1              1  1483.8
2              1  1195.0
3              1  1470.0
4              1   903.4

In [5]:
df.describe()

       FastFoodNames        Sales
count       24.00000    24.000000
mean         2.50000  1279.108333
std          1.14208   737.871272
min          1.00000   345.000000
25%          1.75000   866.350000
50%          2.50000  1088.600000
75%          3.25000  1477.200000
max          4.00000  3158.000000