In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier

df = pd.read_csv('azcabgptca.csv')

In [2]:
df.head()

   died  procedure  age  gender  los  type
0     0          1   73       0   51     0
1     0          0   67       0   30     1
2     0          1   69       0   43     0
3     0          1   65       0   32     0
4     0          1   79       0   42     1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1959 entries, 0 to 1958
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   died       1959 non-null   int64
 1   procedure  1959 non-null   int64
 2   age        1959 non-null   int64
 3   gender     1959 non-null   int64
 4   los        1959 non-null   int64
 5   type       1959 non-null   int64
dtypes: int64(6)
memory usage: 92.0 KB

In [4]:
df.isnull().sum()

died         0
procedure    0
age          0
gender       0
los          0
type         0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

x = df.drop(['died'], axis=1)
y = df.pop(['died'])

x = x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.30, random_state=1)

NameError: name 'x' is not defined