Q1.Check the data types of the below variables:
a=50, b=10.4, c="Hello"

In [7]:
a=50
b=10.4
c="Hello"

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

Q2.Check whether the given string is in Upper case?

String - " My Name is Adam"

In [4]:
nameString = 'My Name is Adam'
nameString.isupper()

False

Q3.What is the length of the given string?

String- "My Name is Adam"

In [10]:
nameString = 'My Name is Adam'
len(nameString)

15

Q4.Write a code (using "for" loop) to print the sum of all elements in the list = [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]?

In [18]:
listToSum = [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]
valueToSum = 0
for i  in listToSum:
    valueToSum += i
print(valueToSum)

91

Q5. Write a python code( using only while loop) which will only print the even numbers from 2 to 12.

In [22]:
inRangeList = list(range(2, 13, 2))
index = 0
while index < len(inRangeList):
    print(inRangeList[index])
    index += 1

2
4
6
8
10
12

Q6.Write a python code( using the combination of if statement and while loop) which will only print the even numbers from 2 to 12.

In [20]:
# Quirky way without using an index to retrieve the list items
rangeList = list(range(2, 13))
rangeList.reverse() # To get items from 2 to 12
while len(rangeList) != 0:
    poppedValue = rangeList.pop();
    if poppedValue % 2 == 0:
        print('even', poppedValue)

even 2
even 4
even 6
even 8
even 10
even 12

Q7.Write a code( using if-else statement), which will print the minimum of the below given numbers.
x=50,y=30,z=40

In [38]:
# Crude way to do it, but, that was the ask

x = 50
y = 30
z = 40

if x < y and  x < z:
        print(x, 'is the smallest')
elif y < z and y < x:
        print(y, 'is the smallest')
elif z < x and z < y:
        print(z, 'is the smallest')